*{

}
#box1{
    height: 400px;
    width: 500px;
    background-color:rgba(0, 128, 255, 0.897);
}
#box2{
    height: 400px;
    width: 500px;
    background-color:rgba(0, 128, 255, 0.897);
}
}